@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Teko;
  font-weight: 500;
  color: white;
}

body {
  background-image: url('assets/crypto-final-bg-safeimagekit.png');
    background-size: cover;
    background-position: center;
}


.navbar{
  background-color: black;
  padding: 1rem;
  color: white;
 text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.main{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.data{
  margin-top: 1rem;
  width: 80vw;
  background-color: rgb(0, 0, 0);
  border-radius: 0.3rem;
  padding: 1rem 0.5rem;
  max-width: 500px;
  height: fit-content;
  min-height: 250px;
  
  display: flex;
  justify-content: center;
}

input {
  padding: 0.5rem;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  width: 80%;
  
  font-size: 1.3rem;
  outline: none;
  color: white;
  max-width: 500px;
}

input:focus{
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid rgb(4, 78, 214);

}


.crypto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.crypto-name{
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  

}

.crypto-name h3{
  background-color: rgba(255, 42, 0, 0.619);
  padding: 0rem 0.5rem;
  border-radius: 0.3rem;
  color: white;
}

.crypto-name h1{
  font-size: 2.5rem;
  font-weight: 600 !important;
}

.crypto-market{
  display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.crypto-price {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.crypto-trend {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500 !important;
}

h3{
  font-weight: 400 !important;
  color: rgb(128, 255, 0);
}

.red{
  color: rgb(255, 0, 0);
}



.loader{
  width: 2rem;
  height: 2rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-radius: 50%;
  border-bottom: 2px solid transparent;
  background-color: transparent;
 
  animation: spin 0.5s linear infinite;
  
  
}

@keyframes spin {
  0%{
   transform: rotate(0deg);
  }

  100%{
  transform: rotate(360deg);
  }
}


.suggestion-container{
  width: 80%;
  position: relative;
  max-width: 500px;
}


.suggestion-box {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  background-color: rgb(29, 38, 115);
  border-left: 4px solid rgb(4, 78, 214);
  border-right: 4px solid rgb(4, 78, 214);
  border-bottom: 4px solid rgb(4, 78, 214);
  visibility: hidden;
  position: absolute;
  overflow-y: auto;
  padding: 0.5rem;

}


.suggestion-box h3{
  padding-block: 0.3rem;
  color: white;
}

.suggestion-box h3:hover {
  color: rgb(0, 128, 255);
  cursor: pointer;
}

.suggestion-box hr {
  border: 1px solid black;
}

.block {
  display: block;
}


.active {
display: block;
}


.not-found{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  max-height: 250px;
}


